@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
.btn {
  @apply w-full bg-black text-white py-3 rounded-lg font-semibold active:scale-95 transition;
}

.btn-outline {
  @apply bg-white text-black border border-black;
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}
